body {
  margin: 0;
  height: calc(100vh);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  pointer-events: none;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*导航栏*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 2px 0 #9b9b9b;
}

.navbar img {
  margin: 4px;
  width: 48px;
}

.pages {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  padding-right: 4px;
}

.pages::-webkit-scrollbar {
  display: none;
}

.page-button {
  border: none;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom right, #69F0AE, #448AFF);
  padding: 2px;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 22px;
  background-clip: content-box, padding-box;
  transition: filter 0.5s, width 0.5s;
  margin-left: 8px;
  cursor: pointer;
}

.page-button:hover {
  width: 80px !important;
}

.page-button img {
  width:28px;
  margin: 4px;
  height: 28px;
}

.page-title {
  position: relative;
  margin-left: 6px;
  left: -6px;
  font-size: 16px;
  color: #69F0AE;
  white-space: nowrap;
}

#version {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #9E9E9E;
  font-size: 12px;
  font-family: system-ui;
  margin: 4px;
}

#main {
  width: 100%;
  height: calc(100vh - 60px);
}

#pageview {
  width: 100%;
  height: 100%;
}

#pageview-docs {
  border: none;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------home*/

#page-home .infomations {
}

#home-swiper {
  max-width: 480px;
  border-radius: 8px;
  margin: 10px;
}

#home-swiper img {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 16/9;
}

#home-news {
  margin: 10px;
  max-width: 464px;
  box-shadow: 0px 0px 8px #EEEEEE;
  padding: 8px;
  border-radius: 8px;
}

#home-news .head {
  color: #69F0AE;
  font-size: 16px;
}

#home-news .item a,span {
  font-size: 12px;
  color: #424242;
}

#home-news .item span {
  text-align: right;
  display: flex;
  flex-direction: column;
}

/*加载动画*/
.loader {
  position: absolute;
  width: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #69F0AE;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }

}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }

}

.loader-showbox {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
}

/*点击波纹*/
.waves-effect.waves-green .waves-ripple {

  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(185, 246, 202, 0.5);
}
